@page "/AddCarrier"
@inject CarrierService _carrierService;
@inject NavigationManager _navigationManager;
@inherits AddCarrierBase;

<h3 class="display-3">Add Carrier</h3>

@if(Carrier == null)
{
   <br />
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>

}
else
{
    <EditForm Model="@Carrier" OnValidSubmit="@AddCarrierAsync">
        <CarrierFields Carrier="@Carrier"></CarrierFields>
        <button type="submit" class="btn btn-primary">
            <span class="oi oi-pencil"></span>
            Add Carrier
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Close">
            <span class="oi oi-arrow-circle-left"></span>
            Close
        </button>
    </EditForm>
}


