@page "/AddFlight"
@using System.Text;
@inject FlightService _flightService;
@inject NavigationManager _navigationManager;
@inherits AddFlightBase;

<h3 class="display-3">Add Flight</h3>

<EditForm Model="@Flight" OnValidSubmit="@AddFlightAsync">
    <FlightFields Flight="@Flight"></FlightFields>
    <button type="submit" class="btn btn-primary">
        <span class="oi oi-pencil"></span>
        Add Flight
    </button>
    <button type="button" class="btn btn-secondary" @onclick="Close">
        <span class="oi oi-arrow-circle-left"></span>
        Close
    </button>
</EditForm>

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>


