@page "/AddPassenger/{flightId}"
@using System.Text
@inject NavigationManager _navigationManager;
@inject PassengerService _passengerService;
@inherits AddPassengerBase;

<h3 class="display-3">Add Passenger</h3>

@if(Passenger == null)
{
    <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <EditForm Model="@Passenger" OnValidSubmit="@AddPassengerAsync">
        <PassengerFields Passenger="@Passenger"></PassengerFields>
        <button type="submit" class="btn btn-primary">
            <span class="oi-pencil"></span>
            Add Passenger
        </button>

        <button type="button" class="btn btn-secondary" @onclick="Close">
            <span class="oi oi-arrow-circle-left"></span>
            Close
        </button>
    </EditForm>
    <NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>
}



