@page "/Passengers"
@inject PassengerService _passengerService;
@inherits AllPassengersBase;

<h3 class="display-3">PassengerList</h3>


@if(Passengers == null)
{
     <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <div class="table-responsive">
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Flight Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var passenger in Passengers)
            {
                <tr>
                    <td>@passenger.Name</td>
                    <td>@passenger.LastName</td>
                    <td>@passenger.Gender</td>
                    <td>@passenger.FlightId</td>
                    <td>
                        <a href="/EditPassenger/@passenger.Id" class="btn btn-secondary">
                            <span class="oi oi-pencil"></span>    
                        </a>
                        <button type="button" class="btn btn-danger" @onclick="() => DeletePassengerAsync(passenger.Id)">
                            <span class="oi oi-delete"></span>
                        </button>

                    </td>
                </tr>
            }
            
        </tbody>
    </table>
    </div>
}
