@page "/CarrierList"
@inherits CarrierListBase;

<h3 class="display-3">Carrier List</h3>
<button type="button" class="btn btn-success" @onclick="ShowAddCarrierPage">
    <span class="oi oi-plus"></span>
    Add Carrier
</button>
@if(Carriers == null)
{
     <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <div class="table-responsive">
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var carrier in Carriers)
            {
                <tr>
                    <td>@carrier.Name</td>
                    <td>@carrier.Country</td>
                    <td>
                        <button type="button" class="btn btn-secondary" @onclick="() => OpenEditCarrierPage(carrier.Id)">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteCarrierAsync(carrier.Id)">
                            <span class="oi oi-delete"></span>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
