@page "/EditFlight/{FlightId}"
@inject FlightService _flightService;
@inject NavigationManager _navigationManager;
@inherits EditFlightBase;

<h3 class="display-3">Edit Flight</h3>

@if(Flight == null)
{
     <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <EditForm Model="@Flight"  OnValidSubmit="@UpdateFlightAsync">
        <FlightFields Flight="@Flight"></FlightFields>
        <button type="submit" class="btn btn-success">
            <span class="oi-pencil"></span>
            Update Flight
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Close">
            <span class="oi oi-media-skip-backward"></span>
            Close
        </button>
    </EditForm>

}
