@page "/EditPassenger/{PassengerId}"
@inject NavigationManager _navigationManager;
@inject PassengerService _passengerService;
@inherits EditPassengerBase;

<h3 class="display-3">Edit Passenger</h3>

@if(Passenger == null)
{
     <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <EditForm Model="@Passenger" OnValidSubmit="@UpdatePassengerAsync">
        <PassengerFields Passenger="@Passenger"></PassengerFields>
        <button type="submit">
            <span class="oi-pencil"></span>
            Update Passenger
        </button>
        <button type="button" @onclick="Close">
            <span class="oi oi-media-skip-backward"></span>
            Close
        </button>
    </EditForm>
}

